.targetSetpage-wrapper{
  .el-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    .el-dialog__body{
      .el-form-item {
        display: flex !important;
        justify-content: space-between !important;
        margin-right: 0;
      }
    }
  }

  
}